{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/task.css"/>
    {% if user_auth == True %}
            <div class="button-profile">
                <a class="button-profile-href" href="/profile">Профиль</a>
            </div>
    {% endif %}
    <div class="task">
        <div class="task-information">
            <div class="main-info">
                <h1>Вспомнить всё</h1>
                <h4>Дополнительные задачи макс. 30 балл.</h4>
            </div>
            <div class="task-condition">
                <h2>Условие</h2>
                <p>Напишите программу, которая считывает слово, затем выводит: «[это слово] ? Конечно, помню, ведь мы проходили это на прошлом занятии!»..</p>
            </div>
        </div>

        <div class="sample-tests">

            <h4>Ввод:</h4>
            <p>print</p>

            <h4>Вывод:</h4>
            <p>print ? Конечно, помню, ведь мы проходили это на прошлом занятии!</p>

        </div>
        <div class="result-message">
            {% if result == True %}
                <h4 class="result-True">Вам начислено {{ score }} баллов</h4>
            {% elif result == False %}
                <h4 class="result-False">Вам нужно доработать программу</h4>
            {% elif result == "error" %}
                <h4 class="result-False">Файл должен быть в формате .py или .txt</h4>
            {% endif %}
        </div>
    </div>
    <form class="form-task" action="" method="post" enctype="multipart/form-data" novalidate>

        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control form-control-sm", type="file") }}

            {% for error in form.data.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}