{% extends "base.html" %}

{% block content %}
    {% if user_auth == True %}
            <div class="button-profile">
                <a class="button-profile-href" href="/profile">Профиль</a>
            </div>
    {% endif %}
    <h1 class="lesson-task-title">Задачи</h1>
    <ul class="lesson-list-task">
        <ul class="lesson-list-task-classWork">
            <h3 class="header-lesson-task-classWork">Классная работа</h3>
            <li class="lesson-list-item-task">
                <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/1">
                    <h4>
                        1. Hello, World!
                    </h4>
                </a>
            </li>
        </ul>
        <ul class="lesson-list-task-homeWork">
            <h3 class="header-lesson-task-homeWork">Домашняя работа</h3>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/2">
                        <h4>
                            2. тест
                        </h4>
                    </a>
                </li>
            </ul>
        <ul class="lesson-list-task-addWork">
            <h3 class="header-lesson-task-addWork">Дополнительные задачи</h3>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/3">
                        <h4>
                            3. тест
                        </h4>
                    </a>
                </li>
            </ul>
    </ul>
    <h1 class="lesson-content-title">Материалы</h1>
    <ul class="lesson-list-content">
        <ul class="lesson-list-item-content">
            <h5 class="header-lesson-content-">Учебник</h5>
            <li class="lesson-item-content">
                <a class="lesson-card-content" href="https://devpractice.ru/python-lesson2-run/">
                    <h4>
                        Знакомство с Python
                    </h4>
                </a>
            </li>
        </ul>
        <ul class="lesson-list-item-content">
            <h5 class="header-lesson-content-">Видео</h5>
            <li class="lesson-item-content">
                <a class="lesson-card-content" href="https://www.youtube.com/watch?v=I1FCLqb1-Ac">
                    <h4>
                        Знакомство с Python
                    </h4>
                </a>
            </li>
        </ul>
    </ul>
{% endblock %}