{% extends "base.html" %}

{% block content %}
    <h1 class="lesson-title">Задачи</h1>
    <ul class="lesson-list-task">
        <ul class="lesson-list-task-classWork">
            <h3 class="header-lesson-task-classWork">Классная работа</h3>
            <li class="lesson-list-item-task">
                <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/1">
                    <h4>
                        1. тест
                    </h4>
                </a>
            </li>
        </ul>
        <ul class="lesson-list-task-homeWork">
            <h3 class="header-lesson-task-homeWork">Домашняя работа</h3>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/2">
                        <h4>
                            2. тест
                        </h4>
                    </a>
                </li>
            </ul>
        <ul class="lesson-list-task-addWork">
            <h3 class="header-lesson-task-addWork">Дополнительные задачи</h3>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/1/tasks/3">
                        <h4>
                            3. тест
                        </h4>
                    </a>
                </li>
            </ul>
    </ul>
{% endblock %}