{% extends "base.html" %}

{% block content %}
    {% if user_auth == True %}
            <div class="button-profile">
                <a class="button-profile-href" href="/profile">Профиль</a>
            </div>
    {% endif %}
    <a href="/courses/lessons"><h4>Назад</h4></a>
    <h1 class="lesson-task-title">Задачи</h1>
    <ul class="lesson-list-task">
        <ul class="lesson-list-task-classWork">
            <h3 class="header-lesson-task-classWork">Классная работа</h3>
            <li class="lesson-list-item-task">
                <a class="lesson-card-task" href="/courses/lessons/lesson/3/tasks/11">
                    <p>
                        Факториал: первое знакомство
                    </p>
                </a>
            </li>
        </ul>
        <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/3/tasks/12">
                        <p>
                             Количество минут в году
                        </p>
                    </a>
        </li>
        <ul class="lesson-list-task-homeWork">
            <h3 class="header-lesson-task-homeWork">Домашняя работа</h3>

                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/3/tasks/13">
                        <p>
                             password123
                        </p>
                    </a>
                </li>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/3/tasks/14">
                        <p>
                            Красивое число
                        </p>
                    </a>
                </li>
            </ul>
        <ul class="lesson-list-task-addWork">
            <h3 class="header-lesson-task-addWork">Дополнительные задачи</h3>
                <li class="lesson-list-item-task">
                    <a class="lesson-card-task" href="/courses/lessons/lesson/3/tasks/15">
                        <p>
                            Високосность
                        </p>
                    </a>
                </li>
            </ul>
    </ul>
    <h1 class="lesson-content-title">Материалы</h1>
    <ul class="lesson-list-content">
        <ul class="lesson-list-item-content">
            <h5 class="header-lesson-content-">Учебник</h5>
            <li class="lesson-item-content">
                <a class="lesson-card-content" href="https://www.youtube.com/watch?v=EggJRTzid1M/">
                    <p>
                        Знакомство с Python
                    </p>
                </a>
            </li>
        </ul>
        <ul class="lesson-list-item-content">
            <h5 class="header-lesson-content-">Видео</h5>
            <li class="lesson-item-content">
                <a class="lesson-card-content" href="https://webformyself.com/uslovnye-operatory-python-if-else-elif/#:~:text=%D0%A3%D1%81%D0%BB%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5%20%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%20Python%20IF%2C%20ELSE%2C%20ELIF.%20%D0%9E%D1%82%20%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B0%3A,false.%20%D0%A3%D1%81%D0%BB%D0%BE%D0%B2%D0%BD%D1%8B%D0%B5%20%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%B0%D1%82%D1%8B%D0%B2%D0%B0%D1%8E%D1%82%D1%81%D1%8F%20%D0%B2%20Python%20%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B0%D0%BC%D0%B8%20IF.">
                    <p>
                        Знакомство с Python
                    </p>
                </a>
            </li>
        </ul>
    </ul>
{% endblock %}