{% extends "base.html" %}

{% block content %}
    <form action="login">
        <button type="submit" class="login-button">
            Войти LMS
        </button>
    </form>
    <img class="prog-image" src="../static/images/prog.jpg" alt="Не удалось загрузить"/>
    <main class="main-content">
        <br>
        <section class="main-content-title">
            <div class="content-text">
                <h2 class="main-title-text">Учитесь программированию легко и дома!</h2>
                <p>Когда вы поступите , вам откроется LMS система,
                    в которой будет открыт курс по выбранному направлению</p>
            </div>
        </section>

        <br>
        <section class="main-content-description">
            <table class="content-table space">
                <tr>
                    <th class="standard-title-style">
                        <div class="python-icon"><img src="/static/images/python-icon.png" alt=""/></div>
                        Чему учим
                    </th>
                    <th class="standard-title-style">
                        <div class="system-learning-icon"><img src="/static/images/system_lerning.png" alt=""/></div>
                        Как учим
                    </th>
                    <th class="standard-title-style">
                        <div class="teacher-icon"><img src="/static/images/teacher.png" alt=""/></div>
                        Кто учит
                    </th>
                </tr>
                <tr>
                    <td valign="top">
                        <div class="info-1-text">
                            <div class="info-1-text-description standard-description-style">
                                <p>Промышленному программированию на&nbsp;языке Python.</p>
                                <p>Это один из&nbsp;самых популярных языков в&nbsp;мире, который позволяет решать
                                    множество
                                    задач. Python используют и&nbsp;в&nbsp;YouTube, и&nbsp;в&nbsp;NASA, и&nbsp;у&nbsp;нас
                                    в&nbsp;Яндексе.
                                    А&nbsp;еще он&nbsp;назван в&nbsp;честь «Летающего цирка Монти Пайтона».</p>
                                <p>Мы&nbsp;пройдем весь путь: изучим основы, а&nbsp;затем научимся решать прикладные
                                    задачи,
                                    создавать приложения с&nbsp;графическим интерфейсом и&nbsp;разными библиотеками.</p>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="info-2-text">
                            <div class="info-2-text-description standard-description-style">
                                <p>Полный курс длится два года.</p>
                                <p>Нужно пройти конкурсный отбор. При поступлении можно не&nbsp;уметь программировать.
                                    На&nbsp;занятиях
                                    ребята знакомятся с&nbsp;теорией и&nbsp;осваивают технологии на&nbsp;практике.
                                    Обучение
                                    бесплатное.</p>
                                <p>В&nbsp;группе не&nbsp;больше
                                    17&nbsp;человек. Обучение на&nbsp;первом курсе длится с&nbsp;октября по&nbsp;апрель,
                                    на&nbsp;втором&nbsp;—
                                    с&nbsp;сентября по&nbsp;апрель. Занятия не&nbsp;пересекаются по&nbsp;времени со&nbsp;школьными
                                    уроками.</p>
                                <p>После каждого урока нужно выполнять домашнее задание&nbsp;— ленивых отчисляем, у&nbsp;нас
                                    все
                                    серьезно.</p>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="info-3-text">
                            <div class="info-3-text-description standard-description-style">
                                <p>Сертифицированные преподаватели.</p>
                                <p>Занятия ведут местные преподаватели, прошедшие специальный отбор и&nbsp;обучение&nbsp;—
                                    это
                                    профессиональные разработчики, преподаватели вузов, школьные учителя, студенты
                                    старших
                                    курсов технических специальностей. Мы&nbsp;непрерывно сопровождаем их&nbsp;в&nbsp;течение
                                    учебного года.</p>
                                <p>Мы&nbsp;тщательно подходим к&nbsp;отбору преподавателей и&nbsp;уделяем особое
                                    внимание их&nbsp;обучению
                                    и&nbsp;повышению квалификации.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>
        <section class="registration-form">
            <h3>Открыт набор!</h3>
            <form action="registration">
                <button type="submit" class="registration-button">
                    Регистрация
                </button>
            </form>
        </section>
    </main>
{% endblock %}