{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css"/>
    <div class="button-logout">
        <a href="/logout">Выйти из аккаунта</a>
    </div>
    <section class="profile">
        <h1>Профиль</h1>
        <p>Имя {{ name }}</p>
        <p>Почта {{ email }}</p>
        <p>Макс. балл {{ all_score }}</p>
    </section>
    <section class="courses">
        <div class="Python-Basics">
            <a class="course-card" href="/courses/lessons">Основы программирования на Python</a>
        </div>
    </section>
{% endblock %}