{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css"/>
    <h2 class="form-registration-title">Регистрация</h2>
    <section class="error-registration">
        {% if error_registration == "email" %}
            <div class="error-registration-email">
                <h4>Данный аккаунт уже зарегистрирован</h4>
                <h5>вы можете восстановить аккаунт перейдя по кнопки "Восстановить аккаунт"</h5>
                <h5>или войти в аккаунт перейдя по кнопки "Войти"</h5>
            </div>
        {% elif error_registration == "password" %}
            <div class="error-registration-password">
                <h4>Пароли не совпадают</h4>
            </div>
        {% endif %}
    </section>
    <form class="form-registration" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(class="form-control", type="password") }}<br>
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email")}}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}