{% extends "base.html" %}

{% block content %}
    <h2 class="form-restore-account-title">Восстановление данных</h2>
    <section class="error-registration">
        {% if error_registration == "emailDatabase" %}
            <div class="error-registration-email">
                <h4>Данный аккаунт не существует</h4>
            </div>
        {% elif error_registration == "password" %}
            <div class="error-registration-password">
                <h4>Пароли не совпадают</h4>
            </div>
        {% elif error_registration == "email" %}
            <div class="error-registration-password">
                <h4>Укажите нормальную почту</h4>
            </div>
        {% endif %}
    </section>
    <form class="form-restore-account" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(type="email", class="form-control", placeholder="name@example.com")}}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(class="form-control", type="password") }}<br>
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}