{% extends "base.html" %}

{% block content %}
     <h1>{{ user_id }} Имя: {{ name }} email: {{ email }} роль {{ role }}</h1>
    <section class="errors">
        {% if error == "role" %}
            <h4>Данной роли не существует</h4>
        {% endif %}
    </section>
    <form class="form-set-role" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.role.label }}<br>
            {{ form.role(class="form-control") }}<br>
            {% for error in form.role.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}