{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/task.css"/>
    <a href="/courses/lessons/lesson/2"><h4>Назад</h4></a>
    {% if user_auth == True %}
            <div class="button-profile">
                <a class="button-profile-href" href="/profile">Профиль</a>
            </div>
    {% endif %}
    <div class="task">
        <div class="task-information">
            <div class="main-info">
                <h1>Дзен</h1>
                <h4>Дополнительные задачи макс. 30 балл.</h4>
            </div>
            <div class="task-condition">
                <h2>Условие</h2>
                <p>Напишите программу, которая считывает одну строку. Если это пустая строка, т. е. если пользователь сразу нажал Enter, то программа выводит «ДА»; в противном случае программа выводит «НЕТ»</p>
                <h4>Пример</h4>
                <h5>Ввод</h5>
                <p>text</p>
                <h5>Вывод</h5>
                <p>НЕТ</p>
            </div>
        </div>

        <div class="result-message">
            {% if result == True %}
                <h4 class="result-True">Вам начислено {{ score }} баллов</h4>
            {% elif result == False %}
                <h4 class="result-False">Вам нужно доработать программу</h4>
            {% elif result == "error" %}
                <h4 class="result-False">Файл должен быть в формате .py или .txt</h4>
            {% endif %}
        </div>
    </div>
    <form class="form-task" action="" method="post" enctype="multipart/form-data" novalidate>

        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control form-control-sm", type="file") }}

            {% for error in form.data.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}